table {
  border-collapse: separate;
  border-spacing: 25px;
  min-width: 600px;
  margin: 100px auto;
}
div,
p {
  width: 40px;
  height: 40px;
  margin: auto;
}
td,
tr {
  width: 100px;
  height: 100px;
}
td {
  background-color: #f05712;
  border: 5px solid #2cd64d;
}
div {
  background-color: #f05712;
}
p {
  background-color: #2cd64d;
}
tr:nth-of-type(odd) td:nth-of-type(odd),
tr:nth-of-type(even) td:nth-of-type(even) {
  border: 5px solid #f05712;
  background-color: #2cd64d;
}
