table {
  border-collapse: separate;
  border-spacing: 40px;
  min-width: 600px;
  margin: 200px auto;
}

div {
  width: 80px;
  height: 80px;
  margin: auto;
  background-color: #2cd64d;
}

td,
tr {
  width: 200px;
  height: 200px;
}

td {
  border: 10px solid #f05712;
  background-color: #2cd64d;
}
tr:nth-child(odd) td:nth-child(odd) div:nth-child(odd),
tr:nth-child(even) td:nth-child(even) div:nth-child(odd) {
  background-color: #f05712;
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  border: 10px solid #2cd64d;
  background-color: #f05712;
}
