table {
  border-collapse: separate;
  border-spacing: 25px;
  min-width: 600px;
  margin: 100px auto;
}

div {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #2cd64d;
}

td,
tr {
  width: 100px;
  height: 100px;
}

td {
  border: 5px solid #f05712;
  background-color: #2cd64d;
}
tr:nth-child(odd) td:nth-child(odd) div:nth-child(odd),
tr:nth-child(even) td:nth-child(even) div:nth-child(odd) {
  background-color: #f05712;
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  border: 5px solid #2cd64d;
  background-color: #f05712;
}
